<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294396273385-bjgiv98kue80f5ce0ipuom2960jra6s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294396273385-bjgiv98kue80f5ce0ipuom2960jra6s7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>294396273385-dpvnh1sqtslfhu8pv155od57hf11oggs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaD7k3XFSKsN6gbg33zzHhKc7y6mIXV2I</string>
	<key>GCM_SENDER_ID</key>
	<string>294396273385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapk.paricon</string>
	<key>PROJECT_ID</key>
	<string>paricon-85795</string>
	<key>STORAGE_BUCKET</key>
	<string>paricon-85795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294396273385:ios:ac318c6989ff9fe20c8678</string>
	<key>DATABASE_URL</key>
	<string>https://paricon-85795-default-rtdb.firebaseio.com</string>
</dict>
</plist>